/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Form Container */
.form-container, .table-container {
    flex-basis: 100%;
    padding: 5px;
}

/* Advice Container */

advice-container {
    font-size: 0.5em; /* Mengatur ukuran font lebih kecil */
    line-height: 0; /* Mengatur tinggi baris untuk mengurangi spasi antar baris */
    padding: 5px; /* Mengurangi padding */
}


/* Chart Container */
canvas {
    max-width: 100%;
    height: auto;
}

.chart-container {
    flex-basis: 50%;
    display: flex;
    justify-content: center; /* Menambahkan ini untuk memusatkan konten */
    align-items: center;

}

.advice-container, .chart-container {
    flex-basis: 50%;
    padding: 5px;
    max-height: 50vh;
    overflow-y: auto;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Table Container */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding: 5px;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}



/* Two-column layout for larger screens */
@media (min-width: 480px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-container, .table-container {
        flex-basis: 100%;
        max-height: 50vh;
        overflow-y: auto;
    }

    .right-column {
        flex-basis: 50%;
    }

    .left-column {
        flex-basis: 50%;
    }
}

/* Vertical stacking layout for smaller screens */
@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .form-container, .table-container, .chart-container, .advice-container {
        flex-basis: 100%;
        max-height: 300px;
        overflow-y: auto;   
    }
}

header {
    
    color: rgb(62, 54, 54);
    padding: 15px 0;
    text-align: left;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: right;
    margin: 5px 0 0 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(35, 25, 25);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}