/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Form Container */
.form-container, .table-container, .chart-container, .advice-container {
    flex-basis: 100%;
    padding: 15px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Table Container */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Chart Container */
canvas {
    max-width: 100%;
    height: auto;
}

/* Three-column layout for larger screens */
@media (min-width: 480px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-container, .table-container, .chart-container, .advice-container {
        flex-basis: 30%;
    }

    .chart-container {
        flex-basis: 30%;
    }
}

/* Vertical stacking layout for smaller screens */
@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .form-container, .table-container, .chart-container, .advice-container {
        flex-basis: 100%;
    }
}